# Terraform specific
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars

# Python / Environment specific
.env
.env.secret
__pycache__/
*.pyc

# Databricks specific
.databricks/
.terraform/
_.terraform_old/
*.tfstate*
*.old
