azure-core==1.41.0
azure-eventhub==5.15.1
certifi==2026.7.22
charset-normalizer==3.5.1
Faker==40.39.0
idna==3.19
python-dotenv==1.2.3
requests==2.34.2
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.7.0
